@{
    ViewBag.Title = "Home Page";
}
@section Style{
    @Styles.Render("~/Content/self/about.css")
}
@section ContentBody{
    <main>
        
    </main>
}
@section Script{
    @Scripts.Render("~/Scripts/self/about.js")
}
