@{
    ViewBag.Title = "Home Page";
}
@section Style{
    @Styles.Render("~/Content/self/index.css")
}
@section ContentBody{
    <main>
        <div class="m-left">
            <div class="tip-pic">
                <div class="pic"></div>
                <div class="pic-news">
                    <ul>
                        <li><a href="#">擼起袖子好好干</a></li>
                        <li><a href="#">擼起袖子好好干</a></li>
                        <li><a href="#">擼起袖子好好干</a></li>
                    </ul>
                </div>
            </div>
            <div class="intor">
                <div class="menulun">睿达和泰有限责任公司</div>
                <div class="mentab">
                    <ul>
                        <li class="sd01"  value="0"><a href="#">公司简介</a></li>
                    </ul>
                </div>
                <div class="mluncon">
                    <div class="tuimg">
                        <img src="~/Content/img/time.jpg" width="284" height="72">
                    </div>
                    <div class="info">
                        <p style="margin: 0px; padding: 0px;">&nbsp; &nbsp; &nbsp;“中国新供给经济学50人论坛”是由中国经济学界、实业界颇具社会影响力的成员组成。作为非官方、非营利性的经济学术研究组织，论坛以全球视野和时代责任感，致力于构建跨界合作的新型研究平台，以经济学理论创新推动中国改革，为中国和世界经济繁荣竭尽所能。第一届论坛成员是国内外有影响力的经济学家、企业家和相关行业专家等。</p>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="menulef">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="m-center">
            <div class="disscuss">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
            <div class="disscuss">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
            <div class="disscuss">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="m-right">
            <div class="weibo wechat">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
            <div class="notice">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
            <div class="thd">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
        </div>
    </main>
}
@section Script{
    @Scripts.Render("~/Scripts/self/index.js")
}
