@{
    ViewBag.Title = "Home Page";
}
@section Style{
    @Styles.Render("~/Content/self/index.css")
}
@section ContentBody{
    <main>
        <div class="m-left">
            <div class="tip-pic">
                <div class="pic"></div>
                <div class="pic-news">
                    <ul>
                        <li><a href="#">擼起袖子好好干</a></li>
                        <li><a href="#">擼起袖子好好干</a></li>
                        <li><a href="#">擼起袖子好好干</a></li>
                    </ul>
                </div>
            </div>
            <div class="intor">
                <div class="menulun">睿达和泰有限责任公司</div>
                <div class="mentab">
                    <ul>
                        <li class="sd01"  value="0"><a href="#">公司简介</a></li>
                    </ul>
                </div>
                <div class="mluncon">
                    <div class="tuimg">
                        <img src="~/Content/img/time.jpg" width="284" height="72">
                    </div>
                    <div class="info">
                        <p style="margin: 0px; padding: 0px;">&nbsp; &nbsp; &nbsp;“中国新供给经济学50人论坛”是由中国经济学界、实业界颇具社会影响力的成员组成。作为非官方、非营利性的经济学术研究组织，论坛以全球视野和时代责任感，致力于构建跨界合作的新型研究平台，以经济学理论创新推动中国改革，为中国和世界经济繁荣竭尽所能。第一届论坛成员是国内外有影响力的经济学家、企业家和相关行业专家等。</p>
                    </div>
                </div>
            </div>
            <div class="news">
                <div class="menulef">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
                <div class="innews">

                    <div class="inlone">
                        <div class="tit1"><a href="http://tv.cctv.com/2018/01/18/VIDEcmAlqXw4PpZU8R9xOOVV180118.shtml" title="央视新闻“1+1”采访贾康首席">央视新闻“1+1”采访贾康首席</a></div>
                        <div class="cont">
                            <dl>
                                <dt><a href="http://tv.cctv.com/2018/01/18/VIDEcmAlqXw4PpZU8R9xOOVV180118.shtml"><img src="http://www.newsupplyecon.org/uploadfile/2018/0119/20180119054232992.jpeg" width="95" height="66" alt="央视新闻“1+1”采访贾康首席"></a></dt>
                                <dd>央视新闻“1+1”采访贾康首席，2018年1月18日，GDP增速高于上年，经济转折？<a href="http://tv.cctv.com/2018/01/18/VIDEcmAlqXw4PpZU8R9xOOVV180118.shtml">[详细]</a></dd>
                            </dl>
                        </div>
                    </div>


                    <div class="inlone">
                        <div class="tit1"><a href="http://www.newsupplyecon.org/2017/xyhd_1116/462.html" title="华夏新供给经济学研究院入选2017“中国核心智库平台”">华夏新供给经济学研究院入选2017</a></div>
                        <div class="cont">
                            <dl>
                                <dt><a href="http://www.newsupplyecon.org/2017/xyhd_1116/462.html"><img src="http://www.newsupplyecon.org/uploadfile/2017/1116/20171116115557810.jpg" width="95" height="66" alt="华夏新供给经济学研究院入选2017“中国核心智库平台”"></a></dt>
                                <dd>2017年11月10日，中国社会科学评价研究院主办了“第四届全国人文社会科学评价高峰...<a href="http://www.newsupplyecon.org/2017/xyhd_1116/462.html">[详细]</a></dd>
                            </dl>
                        </div>
                    </div>


                </div>
                <div class="jiaonews">
                    <ul>
                        <li><a href="http://tv.cctv.com/2017/07/26/VIDEEzRcYbaUt5yI3VeeJVai170726.shtml">央视焦点访谈采访贾康首席</a></li>
                        <li><a href="http://tv.cctv.com/2017/07/07/VIDEP9C1x4B8rLblJRBfWnBc170707.shtml">贾康首席受邀出席总理经济座谈会</a></li>
                        <li><a href="http://phtv.ifeng.com/a/20170313/44553455_0.shtml">贾康首席做客“一虎一席谈”</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m-center">
            <div class="cen-1">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
                <div class="shte">
                    <div class="tit"><a href="http://www.newsupplyecon.org/2018/HZHD_0206/536.html">互联网经济税收治理研究闭门研讨会成功举办</a></div>
                    <div class="left">
                        <img src="http://www.newsupplyecon.org/uploadfile/2018/0206/20180206104740627.png" width="136" height="95">
                    </div>
                    <div class="right">
                        <div class="cont">​2018年1月7日，由华夏新供给经济学研究院、中国新供给经济学50人论坛主办的“互联网经济税收治理研究闭门研讨会”在北京·职工之家召开<a href="http://www.newsupplyecon.org/2018/HZHD_0206/536.html">[详细]</a></div>
                        <div class="time">2018-02-06</div>
                    </div>
                </div>
                <div class="shnews">
                    <ul>
                        <li><a href="http://www.newsupplyecon.org/2017/HZHD_1227/534.html">“新时代•新金融”2017清华大学-香港中文大学金融峰会</a><span>2017-12-27</span></li>
                        <li><a href="http://www.newsupplyecon.org/2017/HZHD_1227/533.html">新望：用辩证的眼光看消费信贷对实体经济的促进作用</a><span>2017-12-27</span></li>
                        <li><a href="http://www.newsupplyecon.org/2017/HZHD_1227/532.html">金海年：消费金融不能忽视过程风险</a><span>2017-12-27</span></li>
                        <li><a href="http://www.newsupplyecon.org/2017/HZHD_1227/531.html">黄震：监管和创新一样需要敬畏金融发展规律</a><span>2017-12-27</span></li>
                        <li><a href="http://www.newsupplyecon.org/2017/HZHD_1227/530.html">P2P为什么做不好？黄剑辉：金融能力的核心是风控</a><span>2017-12-27</span></li>
                    </ul>
                </div>
            </div>
            <div class="cen-2">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>

                </div>
                <div class="lunbnei">
                    <div class="left"><img src="http://www.newsupplyecon.org/uploadfile/2017/1101/20171101092958152.jpeg" width="115" height="78"></div>
                    <div class="right">
                        <div class="tit"><a href="http://www.newsupplyecon.org/index.php?m=content&amp;c=index&amp;a=show&amp;catid=48&amp;id=52">“政府与社会资本合作”的范式超...</a></div>
                        <div class="cont"> 本文原刊于《学术界》2017年第7期，原题：“PPP 是公共服务...<a href="http://www.newsupplyecon.org/index.php?m=content&amp;c=index&amp;a=show&amp;catid=48&amp;id=52">[详细]</a></div>
                    </div>
                </div>
                <div class="shnews">
                    <ul>
                        <li><a href="http://www.newsupplyecon.org/index.php?m=content&amp;c=index&amp;a=show&amp;catid=16&amp;id=51">专题论坛:新常态下的信息技术与互联网产业创新</a><span>2016-01-20</span></li>
                        <li><a href="http://www.newsupplyecon.org/index.php?m=content&amp;c=index&amp;a=show&amp;catid=16&amp;id=50">朱烨东:大资管时代下的互联网金融与估值</a><span>2016-01-20</span></li>
                        <li><a href="http://www.newsupplyecon.org/index.php?m=content&amp;c=index&amp;a=show&amp;catid=16&amp;id=49">龚晓峰:新工业革命的核心是智能制造</a><span>2016-01-20</span></li>
                        <li><a href="http://www.newsupplyecon.org/index.php?m=content&amp;c=index&amp;a=show&amp;catid=16&amp;id=48">王广宇:《2049：智能崛起》</a><span>2016-01-20</span></li>
                        <li><a href="http://www.newsupplyecon.org/index.php?m=content&amp;c=index&amp;a=show&amp;catid=16&amp;id=47">黄剑辉:两个供给侧的改革须联动</a><span>2016-01-20</span></li>
                        <li><a href="http://www.newsupplyecon.org/index.php?m=content&amp;c=index&amp;a=show&amp;catid=16&amp;id=46">贾康:经济社会发展创新的力量是在供给侧发出的</a><span>2016-01-20</span></li>
                    </ul>
                </div>
            </div>
            <div class="cen-3">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
        </div>
        <div class="m-right">
            <div class="weibo wechat">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
            <div class="notice">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
            <div class="thd">
                <div class="mencen1">
                    <h5><a href="#">新闻动态</a></h5><p><a href="#">更多 &gt;&gt;</a></p>
                </div>
            </div>
        </div>
    </main>
}
@section Script{
    @Scripts.Render("~/Scripts/self/index.js")
}
