main {
    clear: both;
    padding-top: 25px;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
dt {
    display: block;
}
dd {
    display: block;
}
/*左侧栏样式*/
.m-left {
    width: 286px;
    float: left;
    margin-right: 30px;
}
/*左一*/
.m-left .tip-pic {
    height: 270px;
    overflow: hidden;
}
.m-left .tip-pic ul li {
    width: 274px;
    height: 24px;
    overflow: hidden;
    line-height: 24px;
    vertical-align: top;
    font-size: 14px;
    background: url(../img/list1.jpg) no-repeat left center;
    padding-left: 12px;
}
.m-left .tip-pic ul li a {
    color: #333;
}
.m-left .tip-pic ul li a:hover {
    color: #c00;
}
.m-left .tip-pic .pic{
    width: 286px;
    height: 198px;
    overflow: hidden;
}
/*介绍*/
.m-left .intor{
    margin-top: 18px;
    height: 295px;
    width: 286px;
    overflow: hidden;
}
.m-left .intor .menulun{
    background: url(../img/biao1.jpg) no-repeat left center;
    height: 22px;
    overflow: hidden;
    line-height: 22px;
    padding-left: 30px;
    font-family: "微软雅黑";
    font-size: 18px;
    color: #010101;
}
.m-left .intor .mentab{
    height: 24px;
    width: 286px;
    overflow: hidden;
    border-bottom: #b3b3b3 1px solid;
    font-family: "微软雅黑";
    margin-top: 10px;
}
.mentab ul li{
    color: #FFF;
    background: url(../img/intab1.jpg) no-repeat;
    width: 80px;
    height: 24px;
    overflow: hidden;
    float: left;
    margin-right: 6px;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
}
.mentab ul li a {
    color: #FFF;
}
.mluncon {
    width: 286px;
    height: 215px;
    padding-bottom: 5px;
    overflow: hidden;
    margin-top: 15px;
    line-height: 24px;
    font-size: 14px;
}
.mluncon .tuimg {
    width: 284px;
    height: 72px;
    border: #d5d5d5 1px solid;
    margin-bottom: 3px;
}
.mluncon .info{
    width: 286px;
    height: 140px;
    overflow: hidden;
    color: rgb(51, 51, 51);
    font-family: 微软雅黑, YaHei, 宋体;
    font-size: 14px;
    line-height: 24px;
}

    
/*新闻动态*/
.m-left .news {
    width: 340px;
    width: 286px;
    margin-top: 25px;
    overflow: hidden;
}
.m-left .news  .menulef {
    background: url(../img/menubg1.jpg) no-repeat;
    width: 286px;
    height: 26px;
    overflow: hidden;
}
.menulef h5 {
    width: 80px;
    float: left;
    color: #FFF;
    font-size: 16px;
    line-height: 25px;
    padding-left: 18px;
    font-weight: normal;
    font-family: "微软雅黑";
}
.menulef h5 a{
    color: #FFF;
}
.menulef p {
    width: 80px;
    float: right;
    text-align: right;
}
.menulef p a {
    color: #4c4c4c;
    padding-right: 2px;
}
.innews {
    width: 286px;
    height: 223px;
    overflow: hidden;
    padding-bottom: 10px;
}
.inlone {
    height: 98px;
    width: 286px;
    overflow: hidden;
    margin-top: 15px;
}
.inlone .tit1 {
    height: 25px;
    width: 286px;
    font-size: 18px;
    overflow: hidden;
}
.inlone .tit1 a {
    color: #333;
    width: 286px;
    display: block;
}
.inlone .cont dl dt {
    width: 95px;
    padding: 4px 10px 0 0;
    float: left;
}
.inlone .cont dl dt img {
    width: 95px;
    height: 66px;
    overflow: hidden;
}
.inlone .cont {
    height: 70px;
    overflow: hidden;
}
.inlone .cont dl {
    height: 110px;
    overflow: hidden;
}
.inlone .cont dl dd {
    width: 180px;
    height: 66px;
    overflow: hidden;
    float: left;
    color: #787777;
    line-height: 24px;
}
.inlone .cont dl dd a:hover {
    color: #F60;
}
.inlone .cont dl dd a {
    color: #9c0000;
}

.jiaonews {
    width: 286px;
    height: 70px;
    overflow: hidden;
}

.jiaonews ul li {
    width: 274px;
    height: 24px;
    overflow: hidden;
    line-height: 24px;
    vertical-align: top;
    font-size: 14px;
    background: url(../img/list1.jpg) no-repeat left center;
    padding-left: 12px;
}
.jiaonews ul li a {
    color: #333;
}
.jiaonews ul li a:hover {
    color: #C00;
}


/*中间栏*/
.m-center{
    width: 437px;
    float: left;
    margin-right: 30px;
}

.m-center .cen-1 .mencen1 {
    background: url(../img/menubg1.jpg) no-repeat;
    width: 437px;
    height: 26px;
    overflow: hidden;
}
.mencen1 h5 {
    width: 80px;
    float: left;
    color: #FFF;
    font-size: 16px;
    line-height: 25px;
    padding-left: 12px;
    font-weight: normal;
    font-family: "微软雅黑";
}
.mencen1 h5 a {
    color: #FFF;
}
.mencen1 p {
    width: 80px;
    float: right;
    text-align: right;
}
.mencen1 p a {
    color: #4c4c4c;
    padding-right: 2px;
}
.shte {
    width: 437px;
    height: 130px;
    overflow: hidden;
    margin-top: 13px;
}
.shte .tit {
    height: 25px;
    width: 437px;
    font-size: 18px;
    padding-bottom: 5px;
    overflow: hidden;
    color: #333;
}
.shte .tit a {
    color: #333;
}
.shte .tit a:hover {
    color: #C00;
}
.shte .left {
    width: 136px;
    float: left;
    margin-right: 12px;
}
.shte .right {
    width: 288px;
    float: left;
}
.shte .cont {
    width: 288px;
    height: 72px;
    overflow: hidden;
    color: #787777;
    line-height: 24px;
    margin-top: -4px;
}
.shte .cont a {
    color: #9c0000;
}
.shte .time {
    height: 20px;
    margin-top: 9px;
    color: #999;
    background: url(../img/time1.jpg) no-repeat 0 2px;
    padding: 0px 0 0 23px;
    font-size: 14px;
    line-height: normal;
}
.shnews {
    width: 437px;
    height: 120px;
    overflow: hidden;
}
.shnews ul li {
    height: 25px;
    overflow: hidden;
    line-height: 25px;
    vertical-align: top;
    font-size: 14px;
    background: url(../img/list1.jpg) no-repeat left center;
    padding-left: 12px;
}
.shnews ul li a:hover {
    color: #C00;
}
.shnews ul li a {
    color: #333;
    display: block;
    width: 325px;
    float: left;
}
.shnews ul li span {
    width: 80px;
    display: block;
    text-align: right;
    float: right;
    color: #333;
}
.cen-1{
    height: 310px;
    width: 437px;
    overflow: hidden;
}
.cen-2 {
    height: 275px;
    width: 437px;
    overflow: hidden;
    margin-top: 8px;
}
.mencen1 {
    background: url(../img/menubg1.jpg) no-repeat;
    width: 437px;
    height: 26px;
    overflow: hidden;
}
.lunbnei {
    height: 85px;
    clear: inherit;
    overflow: hidden;
    width: 437px;
    margin-top: 18px;
    padding-bottom: 7px;
}
.lunbnei .left {
    width: 115px;
    float: left;
    margin-right: 13px;
}
.lunbnei .right {
    width: 306px;
    float: left;
}
.lunbnei .right .tit {
    height: 25px;
    width: 306px;
    overflow: hidden;
    font-size: 18px;
    color: #333;
}
.lunbnei .right .tit a {
    color: #333;
}
.lunbnei .right .cont {
    height: 46px;
    color: #787777;
    line-height: 24px;
    margin-top: 8px;
}
.lunbnei .right .cont a {
    color: #9c0000;
}
.lunbnei .right .cont a:hover{
    color: #C00;
}
.shte .cont a:hover{
    color: #C00;
}
.cen-3{
    height: 340px;
    width: 437px;
    overflow: hidden;
    margin-top: 15px;
}
.ketitu {
    height: 120px;
    overflow: hidden;
    padding-top: 18px;
}
.ketitu ul li {
    width: 129px;
    float: left;
    margin-right: 15px;
    vertical-align: top;
}
.ketitu ul li img {
    width: 129px;
    height: 91px;
    overflow: hidden;
}
.ketitu ul li p {
    padding-top: 6px;
    font-size: 14px;
    color: #333;
    text-align: center;
}
.kenews ul li {
    height: 26px;
    overflow: hidden;
    line-height: 26px;
    vertical-align: top;
    font-size: 14px;
    background: url(../img/list1.jpg) no-repeat left center;
    padding-left: 12px;
}
.kenews ul li a {
    color: #333;
    display: block;
    width: 325px;
    float: left;
}
.kenews ul li a:hover {
    color: #C00;
}